// /* Import the rest of Bulma */
@import 'bulma/bulma';

.button {
  &.is-wide {
    min-width: 140px;
  }

  &.is-wider {
    min-width: 170px;
  }

  &.is-widest {
    min-width: 220px;
  }

  &.is-small {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  &.is-text {
    text-decoration: none;
  }
}

.box {
  position: relative;
}

.menu {
  font-family: $title-family;

  .menu-list a {
    display: flex;
    align-items: center;
  }

  .menu-list a[disabled] {
    opacity: .5;
  }
}

/* Extra bulma classes */
.has-radius {
  border-radius: $radius;
}

.has-radius-small {
  border-radius: $radius-small;
}

.has-radius-large {
  border-radius: $radius-large;
}

.has-limited-width {
  width: 650px;
  max-width: 100%;
}

.has-limited-width-small {
  width: 560px;
  max-width: 100%;
}

.has-limited-width-smaller {
  width: 460px;
  max-width: 100%;
}

.has-limited-width-smallest {
  width: 320px;
  max-width: 100%;
}

.has-overflow-scroll {
  overflow-y: auto;
  height: 100%;
}

.is-disabled {
  pointer-events: none;
  cursor: not-allowed;
}

::-webkit-scrollbar-track-piece {
  border-radius: 6px;
  background: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: $secondary;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}


@include touch {
  .has-navbar-fixed-top-mobile {
    padding-top: $navbar-height;
  }
}

:root {
  /* Buttons. */
  --swv-button-background-color: black !important;
  --swv-button-outline-color: black !important;
  --swv-button-hover-background-color: #353535 !important;
  --jse-theme-color: #353535;
}
.jse-theme-dark {
  --jse-theme-color: #353535 !important;
}

.dark-mode {
  --swv-button-background-color: transparent !important;
  --swv-button-outline-color: white !important;
  --swv-button-hover-background-color: #cbcbcb !important;
  // --swv-button-text-color: black !important;
}

.swv-button {
  font-family: inherit !important;
  font-weight: 400 !important;
  line-height: 1.1 !important;
}
.swv-button-trigger {
  border: 1px solid var(--swv-button-outline-color) !important;
}

.swv-dropdown-list {
  font-family: inherit !important;
}

.swv-modal-wrapper {
  font-family: inherit !important;
}

.tag.is-outlined {
  border: 1px solid;
}

.is-fullwidth {
  width: 100%;
}

.light-mode {
  .dark-only {
    display: none;
  }
}

.has-background-body {
  background-color: $body-background-color !important;
}

.dark-mode {
  .sidebar {
    box-shadow: 0px 6px 40px 0px rgba(255, 255, 255, 0.02) !important;
  }
  body:not(.light-mode) {
    background-color: $body-background-color-dark;
  }
  
  .tag {
    // color:white !important;
    background-color: $black-ter !important;
    span {
      color: white;
    }
  }

  .has-background-body:not(.light-mode) {
    background-color: $body-background-color-dark !important;
  }
  .vjs-tree-node.is-highlight, .vjs-tree-node:hover {
    background-color: $grey-darker;
  }
  .progress {
    // background-color: $black-ter;
    &:indeterminate {
      background-color: $black-ter;
    }
    &.is-info:indeterminate {
      background-image: linear-gradient(to right, hsl(207, 61%, 53%) 30%, $black-ter 30%);
    }
  }
  .navbar:not(.light-mode) {
    background: $black;
    
    .navbar-burger {
      color: $white;
    }

    &.has-shadow {
      box-shadow: 0 2px 0 0 $grey-dark;
    }
  }
  .pagination-previous, .pagination-next, .pagination-link {
    color: $white;
    &.is-current {
      color: $text;
    }
  }
  .select:not(.light-mode) select {
      background-color: $grey-darker;
      border-color: $black-ter;
      color: white;
  }
  .table:not(.light-mode) {
    color: $table-background-color;
    background-color: $black-bis;

    thead th {
      color: $table-background-color;
      // background-color: $black-ter;
    }
    td, th {
      border-color: $grey-dark;
    }
    &.is-hoverable {
      tbody {
        tr:not(.is-selected) {
          &:hover {
            background-color: $black-ter !important;
          }
        }
      }
    }
    &.is-striped {
      tbody {
        tr:not(.is-selected) {
          &:nth-child(even) {
            background-color: darken($black-ter, 3%);
          }
        }
      }
    }
  }

  .light-only {
    display: none;
  }

  .has-text-white:not(.light-mode) {
    color: $black !important;
  }

  .has-text-black:not(.light-mode) {
    color: $white !important;
  }

  a.has-text-black:hover:not(.light-mode) {
    color: $grey-light !important;
  }

  .has-background-white:not(.light-mode) {
    background-color: $black !important;
  }
  .has-background-light:not(.light-mode) {
    background-color: $black-ter !important;
  }

  .sidebar:not(.light-mode) {
    background-color: $black-bis !important;
  }

  .has-background-black:not(.light-mode) {
    background-color: $white !important;
  }

  .has-background-white-ter:not(.light-mode) {
    background-color: $black-ter !important;
  }

  .has-background-white-bis:not(.light-mode) {
    background-color: $black-bis !important;
  }

  .title:not(.light-mode) {
    color: white;
  }

  .box:not(.light-mode) {
    background-color: $black-bis;
    color: white;
  }

  .button:not(.light-mode) {
    &.is-dark {
      &.is-outlined {
        color: $light;
      }
    }
    &.is-text {
      color: $white;
      &:hover {
        background-color: $black-ter;
      }
    }
    &.is-primary {
      background-color: $primary-invert;
      color: $primary;

      &.is-outlined {
        background-color: transparent;
        border-color: $primary-invert;
        color: $primary-invert;

        &:hover {
          background-color: $primary-invert;
          border-color: $primary-invert;
          color: $primary;
        }
      }
    }
  }

  .input:not(.light-mode) {
    background-color: $grey-darker;
    border-color: $black-bis;
    color: white;

    &::placeholder {
      color: $grey;
    }
  }

  .menu-list:not(.light-mode) {
    a {
      color: $grey-lighter;

      &:hover {
        background-color: $grey-darker;
      }

      &.is-active {
        background-color: $white-bis;
        color: black;
      }
    }
  }

  .footer:not(.light-mode) {
    background-color: $body-background-color-dark;
    color: white;
  }

  .tabs:not(.light-mode) {
    ul {
      border-bottom-color: $grey;
    }
    li.is-active a {
      border-bottom-color: $primary-invert;
      color: $primary-invert;
    }

    a {
      border-bottom-color: $grey;
      color: $grey;

      &:hover {
        border-bottom-color: $grey;
        color: $grey;
      }
    }
  }
}

.address {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
}
.jse-validation-errors-overview.svelte-1uindol.svelte-1uindol {
  max-height: none !important;
}