/* Import Bulma Utilities */
@import 'bulma/sass/utilities/initial-variables';
@import 'bulma/sass/utilities/functions';

// Update Bulma's global variables
$family-sans-serif: 'Outfit', sans-serif;
$primary: black;
$secondary: #10E80C;
$info: #0066FF;
$success: #04DE00;
$warning: #FFB800;
$custom-colors: (
  'secondary': $secondary,
);
$text: #000;
$text-light: #999999;
$text-dark: #666666;
$body-size: 14px !default;

$link: $secondary;
$link-hover: darken($link, 10%);

$title-family: 'Space Grotesk', sans-serif;
$subtitle-family: 'Space Grotesk', sans-serif;

$body-background-color: $white-bis;
$body-background-color-dark: #181818;

$navbar-height: 3.5rem;

$section-padding: 1rem;
$section-padding-desktop: 1rem;
$footer-padding: 1rem;

$title-weight: $weight-semibold;
$subtitle-color: $grey;

$size-1:	2.125rem;
$size-2:	1.875rem;
$size-3:	1.375rem;
$size-4:	1.25rem;
$size-5:	1.125rem;
$size-6:	1rem;
$size-7:	0.75rem;

$menu-item-radius: $radius-large;
$menu-item-active-background-color: $primary;
$menu-item-active-color: white;
$menu-list-link-padding: 0.65em 1em;
$menu-item-color: $text-dark;
$menu-item-hover-background-color: $grey-lightest;

$radius-small: 4px;

$box-shadow: none;
$box-padding: 1.6rem;
$button-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

$tabs-border-bottom-width: 4px;
$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
$tabs-link-color: $grey;

$input-icon-active-color: $secondary;
// $input-background-color: $white;
// $input-border-color: $white-ter;
$input-shadow: none;
$input-focus-box-shadow-color: rgba($secondary, 0.25);
$label-weight: 400;
$label-color: $grey;

@import 'bulma/sass/utilities/mixins';
